---
layout: page
title: Blog
permalink: /blog/
---

<div class="blog">
  {% for post in site.categories.blog %}
    <article class="post-preview">
      
      <p class="post-date left">{{ post.date | date: "%b %-d, %Y" }}</p>

      <div class="right">
        <h1>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h1>

        <div class="text-preview">
          {{ post.excerpt }}
          <span>...</span>
        </div>

        <a class="more" href="{{ post.url }}">Read More</a>
      </div>

    </article>
  {% endfor %}
</div>

<!--<div class="blog">

  <ul class="post-list">
    {% for post in site.categories.blog %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>-->