.blog
  width: 70%
  margin: 0 auto
  padding-top: 50px

.post-preview
  overflow: hidden
  margin-top: 20px
  margin-bottom: 50px
  //background-color: purple

  .right
    display: inline-block
    width: 75%
    //margin-bottom: 70px
    margin: 0 //new
    margin-bottom: 20px //new
    float: right
    //background-color: red

h1 a

  &:hover
    color: black

    //.post-date
      //margin-top: 0

  .left
    display: inline-block
    width: 20%
    float: right
    padding-right: 5%
    margin: 0 //new
    //background-color: yellow

        //&:hover                   //failed span

          //.expand
            //letter-spacing: .5em

.text-preview
  margin-bottom: 40px

  .expand
    font-weight: 800
    letter-spacing: .3em
    margin-left: 5px

.more
  //width: auto
  padding: 15px
  border: 2px solid black
  color: black

  &:hover
    color: #fff
    background-color: black
          

@media (max-width: 850px)
  .blog
    width: 80%

  .left
    width: 100%
    padding-right: 0
    text-align: left

  .right 
    width: 100%

@media (max-width: 560px)
  .blog
    padding-top: 0

  .post-preview
    margin-bottom: 0

  .text-preview
    display: none

  .more
    display: none

  .right 
    margin-bottom: 5px

  h1
    font-size: 1.3em

  .post-date
    font-size: 0.7em


