.blog
  width: 70%
  margin: 0 auto
  padding-top: 50px

  .post-preview
    overflow: hidden
    margin-top: 20px
    //background-color: purple

    .post-date
      margin-top: 0

    .left
      display: inline-block
      width: 20%
      float: left
      padding-right: 5%
      //background-color: yellow

    .right
      display: inline-block
      width: 75%
      margin-bottom: 70px
      float: left
      //background-color: red

      .text-preview
        margin-bottom: 40px

        span
          font-size: 2em

          &:hover
            letter-spacing: 10px

      h1
        margin-bottom: 20px
        margin-top: 0

        a

          &:hover
            color: black

      .more
        padding: 15px
        border: 2px solid black
        color: black

        &:hover
          background-color: black
          color: #fff

