#portfolio
  overflow: hidden

  .project-preview
    width: 33.33%
    padding-bottom: 33.33%
    position: relative
    float: left
    overflow: hidden

    .sharpen
      //overflow: hidden
      position: absolute

      img
        width: 100%
        //height: auto
        //overflow: hidden
        -webkit-transform: scale(1.05)
          transform: scale(1.05)

    .info
      opacity: 0
      position: absolute
      width: 100%
      top: 35%
      color: #fff

      h1
        font-weight: 400
        text-align: center
        font-size: 1.5em

      p
        font-style: italic
        font-weight: 300
        text-align: center
        text-transform: lowercase

    &:hover

      img
        -webkit-filter: blur(3px)
          filter: blur(3px)
      .info
        opacity: 1