header
  background-color: $navbar-color
  position: fixed
  top: 0
  left: 0
  height: 90px
  width: 100%
  z-index: 9999

  nav
    display: inline-block
    width: 100%

    div
      display: inline-block

    a
      color: #fff
      text-decoration: none
      text-transform: uppercase

    .site-title
      margin-left: 30px
      font-size: 1.8em
      line-height: 90px           //cheat to vertically center
      font-weight: 800
      letter-spacing: 3px
      float: left

    .nav-links
      font-weight: 300
      line-height: 90px
      float: right

      a
        margin-right: 30px

        &:hover
          color: #fff
          padding-bottom: 5px
          border-bottom: 2px solid #fff


//        ### MEDIA QUERIES ###

@media (max-width: 800px)       // tablets, large phones (touch screens)
  
  header
    height: 35px

    nav

      .site-title
        font-size: .9em
        line-height: 35px

      .nav-links
        font-size: .9em
        line-height: 35px

        a

          &:hover
            padding-bottom: 2px                // for computer users
            border-bottom: 1px solid #fff       // for computer users

          &:active                              // for touchscreen users
            padding-bottom: 2px
            border-bottom: 1px solid #fff

@media (max-width: 560px)       // phones, always touchscreen
  header
    position: static
    height: null
    padding-top: 7px
    padding-bottom: 10px

    nav
      display: block

      .site-title
        float: none
        display: block
        margin: 0 0 0 0
        text-align: center
        line-height: normal

      .nav-links
        float: none
        display: block
        margin: 0 0 0 0
        //margin-top: 7px
        text-align: center
        line-height: 30px

        a
          margin-right: 8px
          margin-left: 8px


          &:hover
            border-bottom: none

          &:active                              // for touchscreen users
            padding-bottom: 2px
            border-bottom: 1px solid #fff